body{
     
      margin: 0 auto;
      font-size: 14px;
      line-height:10px;
      color: #000000;
      vertical-align: top;
      height:200px;

     }
}


.header{
	font-size:11px;
	margin:0 auto;
	vertical-align: top;
	position: absolute;
	transition: color .2s linear;
	min-width: 470px;



	

}
.nav_link{
	font-width:700px;
	display:inline-block;
	text-transform:uppercase;
	text-decoration: none;
	color:#000;
	margin: 0 20px;
	margin-top: 20px;


	



font-family: 'PT Serif', serif;
font-family: 'Recursive', sans-serif;


}

.nav_link:hover{
	color:#999;

}
.header-inner{

	margin:0 auto;
	vertical-align: top;
	justify-content: space-between;
	background-color: #F5F5F5;

	

}



.header-inner2{
	margin: 0 20px;
	text-align:right;
    position: relative;bottom:28px;


}


.foodica{
	margin:0 auto;
	text-align:center;
	font-size: 100px;
	font-family: 'Dancing Script', cursive;
}
.recipes{
	color:#999;
	font-family: 'Barlow Condensed', sans-serif;
	font-size:50px;
}



.foto {
	margin:0 auto;
	display: flex;
   justify-content: center;
	
}

.name{
	font-size: 100px;
	margin:0 auto;
	text-align: center;
	font-family: 'Barlow Condensed', sans-serif;
	text-transform:uppercase;
	position: relative;bottom: 40px;

}

.hot{
	line-height: 20px;
	left:30px;
	margin:0 auto;
	position: relative;top:30px;
	background-color:#DCDCDC;
	height: 150px;
	width:1200px;

}

.hot1{
	position: relative;top:15px;
	font-family: 'Oswald', sans-serif;
	transition: 0.2 linear;
	font-size:20px;
	text-decoration: none;
	text-transform: uppercase;
	color:#000;
}
.hot1:hover{
	color:#c0c0c0;
}

.opisanie{
	position: relative;top:20px;
	text-align: left;
	line-height: 20px;
	margin: 0 auto;
	font-family: 'Arial', sans-serif;
	font-size: 16px;
}


.hot2{
	line-height: 20px;
	left:30px;
	margin:0 auto;
	position: relative;top:90px;
	background-color:#DCDCDC;
	height: 150px;
	width:1200px;

}

.hot-2{
	position: relative;top:15px;
	font-family: 'Oswald', sans-serif;
	transition: 0.2 linear;
	font-size:20px;
	text-decoration: none;
	text-transform: uppercase;
	color:#000;
}
.hot-2:hover{
	color:#c0c0c0;
}

.opisanie-2{
	position: relative;top:20px;
	text-align: left;
	line-height: 20px;
	margin: 0 auto;
	font-family: 'Arial', sans-serif;
	font-size: 16px;
}


.hot3{
	line-height: 20px;
	left:30px;
	margin:0 auto;
	position: relative;top:150px;
	background-color:#DCDCDC;
	height: 150px;
	width:1200px;

}

.hot-3{
	position: relative;top:15px;
	font-family: 'Oswald', sans-serif;
	transition: 0.2 linear;
	font-size:20px;
	text-decoration: none;
	text-transform: uppercase;
	color:#000;
}
.hot-3:hover{
	color:#c0c0c0;
}

.opisanie-3{
	position: relative;top:20px;
	text-align: left;
	line-height: 20px;
	margin: 0 auto;
	font-family: 'Arial', sans-serif;
	font-size: 16px;
}



.photo{
	left:0;
	right: 0;
	margin:0 auto;

	position: relative;left:870px;
	position: relative;bottom:490px;
	margin- top:30px;
	margin-bottom:10px;



}

.fotog{
	margin:0 auto;
	position: relative;right:10px;
	position: relative;top:1px;
}








#content {
    width: 500px; /* Ширина слоя */
    margin: 0 auto 50px; /* Выравнивание по центру */
   }
   #footer {
   	height:200px;
    position: relative;top:10px;
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    background: #F5F5F5; /* Цвет фона */
    color: #000; /* Цвет текста */
    font-size: 16px;
    width: 100%; /* Ширина слоя */
   }
   .podval{
margin-left: 60px;
margin-top:20px;
   }
   .pod{
   	position: relative;top:20px;
   	margin-bottom: 30px;
   }

   .podval2{
margin-left: 200px;
   }
   .pod2{
   	
   	position: relative;bottom:100px;
   	margin:0 auto;
   	margin-bottom:30px;
   }
